/* 初始化 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul{
  list-style: none;
}
h5{
  background: #eee;
  line-height: 28px;
  padding-left: 8px;
}
body{
  width: 100%;
  height: 100;
  background: url(../images/bg.gif);
}
header{
  background: #232325;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
}
.header ul{
  display: flex;
  justify-content: space-around;
  height: 30px;
  margin-top: 20px;
}
.header ul li{
  padding: 0 20px;
  line-height: 30px;
}
.header ul li.active{
  background: #699f00;
  border-radius: 15px;
}
.banner{
  width: 500%;
  height: 520px;
  display: flex;
  animation: ss 16s infinite;
}