
.banner{
  width: 500%;
  height: 520px;
  display: flex;
  animation: ss 16s infinite;
}
.photo{
  width: 20%;
  height: 100%;
  background: url(../images/banner/yirenzhixia.jpg) no-repeat;
  background-size: cover;
}
.photo.t-2{
  background: url(../images/banner/changgexing.jpg) no-repeat;
  background-size: cover;
}
.photo.t-3{
  background: url(../images/banner/xianqiong.jpg) no-repeat;
  background-size: cover;
}
.photo.t-4{
  background: url(../images/banner/ashuai.jpg) no-repeat;
  background-size: cover;
}
.photo.t-5{
  background: url(../images/banner/kenan.jpg) no-repeat;
  background-size: cover;
}
@keyframes ss{
  0%{margin-left: 0; }
  15%{margin-left: 0; }
  21%{margin-left: -100%; }
  36%{margin-left: -100%; }
  42%{margin-left: -200%; }
  57%{margin-left: -200%; }
  63%{margin-left: -300%; }
  78%{margin-left: -300%; }
  84%{margin-left: -400%; }
  94%{margin-left: -400%; }
  100%{margin-left: 0;}
}